<!DOCTYPE html>
<html>
    <head>
        <title>MULTIPLICATION</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="form-section-1">
            <h1>MULTIPLICATION FORM</h1>
            <form action="/multiplication-form" method="post">
                <input type="number" name="a" placeholder="enter a">
                <br>
                <input type="number" name="b" placeholder="enter b">
                <br>
                <button>submit</button>
            </form>
        </div>
    </body>
</html>